{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet"  type="text/css" href="{% static "css/main/index.css"%}"> 
{% endblock extrahead %}

{% block content%}
    {% for article in page_obj %}
        {% if category_id is none or category_id == blog.category.id %}
            <div class="article-list">
                <a href="{%url 'article:detail' article.id%}">
                    <h2>{{article.title}}</h2>
                    <p class="summary">{{article.summary}}</p>
                </a>
                <div class="article-detail">
                    <span class="writer">{{article.author}}</span>
                    &nbsp;|&nbsp;&nbsp;
                    <span class="created-at">{{article.created_at|date:"Y년 m월 d일"}}</span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <span class=page-number>
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo;</a>
        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
    
        {% for num in page_range %}
            {% if num == page_obj.number %}
                <span class="current-page">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number}}">&gt;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
{% endblock  %}
