{% extends 'main/base.html' %}
{% block title %}
  Article | {{ article.title|title }}
{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}

{% block content%}
  <h1>{{article.title}}</h1>
  <p>{{article.content}}</p>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="article-image" />
  {% endif %} {% for tag in tags %}
  <p>{{ tag }}</p> {% endfor %}
  <div>
    {% if request.user == article.author %}
      <a href="{% url 'article:edit' id=article.id %}">글 수정</a>
      <a href="{% url 'article:destroy_article' id=article.id %}">글 삭제</a>
    {% endif %}
  </div>
  <form method="post">
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit">댓글 작성</button>
  </form>

  <a href="{% url 'article:like' article.id %}" title="좋아요 누른 사람: {{ likes|join:', ' }}"> 
    {% if request.user in likes %}
            &#9829;
    {% else %}
            &#9825;
    {% endif %}
    좋아요 {{likes|length}}개
  </a>

  {% for comment in comments %}
  <div>
    <hr />
    <p>{{comment.content}}</p>
    <p>{{comment.created_at}} 댓글쓴이: {{ comment.author }}</p>
    {% if request.user == comment.author %}
      <a href="{% url 'article:destroy_comment' id=comment.id %}">댓글 삭제</a>
    {% endif %}
  </div>
  
  {% endfor %}

{% endblock  %}
